{
  "root": true,
  "extends": ["@astral/eslint-config-react-ts"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "packageDir": ["./", "./"] }
    ]
  },
  "overrides": [
    {
      "files": "**/*.test.ts",
      "extends": ["@astral/eslint-config-vitest"]
    }
  ]
}
